body {
  background-image: url("../Resources/JPG/BlueStripe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.HyperText {
  color: blue;
}

.CenterText {
  text-align: center;
}

.VisualizeDiv {
  background-color: wheat;
}

.grid-container {
  position: absolute;
  top: 150px;
  left: 50%;
  justify-content: center;
  text-align: center;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
}

.Button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.Title {
  text-align: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #ffffff;
  background-color: #1e90ff;
  padding: 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ButtonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
